html{
  background-color: grey;
}
div{
  background-color: grey;
}
div.fondo{
  background-color: grey;
}
.App {
  text-align: center;

}
.logo {
  margin: 20% auto;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Login */

p.loginText{
  margin-left: 40%;
  padding: 2px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold;
}
h3.login{
  font-size: 30px;
}
button.boton{
  margin-top: 15% auto;
}
span.register{
margin-top: 25px;
}
div.mt-2{
  margin-top: 5%;
}
div.iniciologin{
  margin-top: 5%;
}
p.error{
  color: red;
}


/* Register */

a.enlace{
  text-decoration:none;
  color: black;
}
fieldset.register{
  border: solid grey;
}
h3.titulo{
  margin: 10% auto;
}

/* Posts */

div.posts{
  background: linear-gradient(to right, orange, orangered);
  margin: auto;
  margin-bottom: 5%;
  border-radius: 15%;
  padding: 3%;
  width: 80%;
}
div.post{ 
   background-color: grey;
   margin: 5% auto;
}
div.posted{
  background-color: transparent;
}
a.tlink{
  width: 10% auto;
}

/* Create post */

h1.crearpost{
  margin: 15% auto;
}
div.tutorial{
  border: 2px solid black;
  margin: 5% auto;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(to right, orange, orangered);
}
p.textotutorial{
  padding: 2%;
}

/* Users */

div.users{
  margin: 15% auto;
}

/* Mi perfil */

p.titulo{
  font-size: 40px;
}
